局域⽹可按⽹络拓扑进⾏分类。图3-13（a）是星形⽹。由于集线器（hub）的出现和双绞
线⼤量⽤于局域⽹中，星形以太⽹以及多级星形结构的以太⽹获得了⾮常⼴泛的应⽤。图
3-13（b）是环形⽹，图3-13（c）为总线⽹，各站直接连在总线上。总线两端的匹配电阻吸收在
总线上传播的电磁波信号的能量，避免在总线上产⽣有害的电磁波反射。总线⽹以传统以太
⽹最为著名，但以太⽹后来⼜演变成了星形⽹。经过四⼗多年的发展，以太⽹的速率已⼤⼤
提⾼。现在最常⽤的以太⽹的速率是1Gbits（家庭或中⼩企业）、10Gbit/s（数据中⼼）和
100Gbits（⻓距离传输），且其速率仍在继续提⾼。现在以太⽹已成为了局域⽹的同义词，

